<h3>create an account</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label for="">username</label>
    <input type="text" formControlName="username" />
  </div>
  {{ $any(authForm).get('username').errors | json}}
  <div class="field">
    <label for="">password</label>
    <input type="text" formControlName="password" />
  </div>
  {{ $any(authForm).get('password').errors | json}}
  <div class="field">
    <label for="">confirm pass</label>
    <input type="text" formControlName="passwordConfirmation" />
  </div>  {{ $any(authForm).get('passwordConfirmation').errors | json}}
  <button
    [disabled]="authForm.errors"
    type="submit"
    class="ui submit button primary"
  >
    submit
  </button>

  {{ authForm.errors | json}}
</form>
