<h3>create an account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-custom-input
    inputType="text"
    label="username"
    [control]="$any(authForm).get('username')"
  ></app-custom-input>
  <app-custom-input
    inputType="password"
    label="password"
    [control]="$any(authForm).get('password')"
  ></app-custom-input>
  <app-custom-input
    inputType="password"
    label="passwordConfirmation"
    [control]="$any(authForm).get('passwordConfirmation')"
  ></app-custom-input>
  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors['passNotMatch']">
      password confirmation and password not match
    </p>
  </div>
  <div>

    <button
    [disabled]="authForm.errors"
    type="submit"
    class="ui submit button primary"
    >
    submit
  </button>
</div>
</form>

 <!-- {{ $any(authForm).get("password").errors | json }} -->
  <!-- <div class="field">
    <label for="">confirm pass</label>
    <input type="text" formControlName="passwordConfirmation" />
  </div> -->
