<h3>create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-custom-input
    inputType="text"
    label="username"
    [control]="$any(authForm).get('username')"
  ></app-custom-input>
  <app-custom-input
    inputType="password"
    label="password"
    [control]="$any(authForm).get('password')"
  ></app-custom-input>
  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors['noConnection']">
      connection problem
    </p>
    <p *ngIf="authForm.errors['wrongCreds']">
      wrong information
    </p>
    <p *ngIf="authForm.errors['unknownError']">
      please try again soon , there are some problem with your request.
    </p>
  </div>
  <div>
    {{ authForm.errors | json}}
    <button
    [disabled]="authForm.errors"
    type="submit"
    class="ui submit button primary"
    >
    submit
  </button>
</div>
</form>