<nav>
  <ul class="pagination">
    <li class="page-item">
      <a
        [appClass]="{ disabled: currnt === 0 }"
        (click)="currnt = currnt - 1"
        class="page-link"
        >prev</a
      >
    </li>
    <ng-container *ngFor="let image of info; let i = index">
      <li *ngIf="checkIndex(i)" class="page-item" [ngClass]="{ active: i === currnt }">
        <a (click)="currnt = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li class="page-item">
      <a
        (click)="currnt = currnt + 1"
        [ngClass]="{ disabled: currnt === info.length - 1 }"
        class="page-link"
        >next</a
      >
    </li>
  </ul>
</nav>
<div>
  <h4>{{ info[currnt].title }}</h4>
  <img [src]="info[currnt].url" alt="" />
</div>
<ul *appTimes="5"><li>hello</li></ul>
<!-- <div [ngSwitch]="currnt">
  <div *ngSwitchCase="0">hello</div>
  <div *ngSwitchCase="1">hello1</div>
  <div *ngSwitchCase="2">hello2</div>
  <div *ngSwitchCase="3">hello3</div>
  <div *ngSwitchDefault>no hello</div>
</div> -->